.escoSearchFilter {
  max-height: 220px;
  width: 280px;
}

.escoSearchFilter__Box {
  display: 'flex';
  flex-wrap: 'wrap';
}

.escoSearchFilter__Box > * {
  margin-right: 0.5em;
}

.escoSearchFilter__formControl {
  margin: 8px 8px 8px 0;
  min-height: 65px;
  width: 300px;
}
