@import 'commons/theme/css/colors.scss';

.escoErrorHandler__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px 75px !important;
}

.escoErrorHandler__row {
  flex: 1 1 100%;
}

.escoErrorHandler__Icon {
  font-size: 36px;
}

.escoErrorHandler__label {
  color: $white-main;
}
