@media print {
  header {
    display: none !important;
  }
  .MuiDrawer-root {
    display: none !important;
  }
  .escoSidebar {
    display: none !important;
  }
  .escoMainLayout__container--shifted {
    margin-left: 0 !important;
  }
  .escoMainLayout__container {
    justify-content: left !important;
  }
  .escoMainLayout__content--shifted {
    margin-left: 0 !important;
  }
  .escoMainLayout__content {
    margin-left: 0 !important;

    canvas {
      max-width: 100%;
      width: auto !important;
    }
  } 
}
