@import 'commons/theme/css/colors.scss';

.escaDatasetPreview {
  padding-bottom: 120px;
}

.escaDatasetPreview__header {
  color: $accent-main;
  margin-bottom: 8px;
}

.escaDatasetPreviewSection {
  margin-bottom: 40px;
  white-space: pre-line;
}

.escsDatasetPreviewSection__header {
  margin-bottom: 24px;
}

.escaDatasetPreview__listItemIcon {
  color: $dark-gray-main;
  height: 24px;
}
