@import 'commons/theme/css/colors.scss';

.esmoFieldsPresenter {
  color: $dark-gray-main;
  margin-bottom: 16px;
}

.esmoFieldsPresenter--inline {
  margin-left: 4px;
  overflow-wrap: anywhere;
  word-break: break-word;  
}
