@import 'commons/theme/css/colors.scss';

.escoProfileChooser__card {
  width: 100%;
  // margin-bottom: 12px;
  margin-top: 12px;
}

.escoProfileChooser__card--selected {
  outline: 2px solid $primary-main;
}

.escoProfileChooser__infoBlock {
  margin-top: 24px;
}
