@import 'commons/theme/css/colors.scss';
@import 'commons/components/overview/overviewMixin.scss';

.escoOverviewSidebarListItem__button {
  @include escoOverviewSidebarListItem__button;
}

.escoOverviewSidebarButtonLabel {
  color: $white-main;
  font-weight: 600;
}

.escoOverviewSidebarButtonLabel--disabled {
  color: rgba(0, 0, 0, 0.26);
  font-weight: 600;
}
