@import 'commons/theme/css/theme.scss';

html,
body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

#controlNode {
  height: 100%;
}

// removes password reveal control in Edge
::-ms-reveal {
  display: none;
}
