.esadStoreConfig {
  width: 100%;

  &:not(:first-child) {
    border-top: 1px solid rgb(230, 230, 230);
    margin-top: 2px;
    padding-top: 2px;
  }
}

.esadStoreConfig__value {
  margin-left: 4px;
  overflow-wrap: anywhere;
  word-break: break-word;
}
