@import 'commons/theme/css/colors.scss';
@import 'commons/components/overview/overviewMixin.scss';

.escoOverviewHeader {
  @include escoOverviewHeader;
}

.escoOverviewHeader__label {
  @include escoOverviewHeader__label;
}

.escoOverviewHeader__labelIcon {
  margin-left: 6px;
}

.escoOverviewHeader__heading {
  @include escoOverviewHeader__heading;
}

.escoOverviewHeader__subHeading {
  margin-right: 6px;
}

.escoOverviewHeader__icon {
  @include escoOverviewHeader__icon;
}
