.escoPlaceholder {
  // ! replace with escoPlaceholder when we get rid of the other
  align-items: center;
  color: #363d41;
  display: flex;
  font-size: 21px;
  font-weight: bold;
  height: 100%;
  justify-content: flex-start;
  margin-bottom: 48px;
  margin-top: 160px;
  text-align: center;
  width: 100%;
}

.escoPlaceholder__children {
  display: flex;
  margin-top: 42px;

  :not(:first-child) {
    margin-left: 12px;
  }
}

.escoPlaceholder--dialog {
  margin-top: 48px;
}

.escoPlaceholder--view {
  margin-bottom: 0;
  margin-top: 120px;
}

.escoPlaceholder--compact {
  height: auto;
  margin-bottom: 0;
  margin-top: 0;
}
