@import "commons/theme/css/colors.scss";

.escoSignin__container {
  max-width: 480px;
}

.escoSignin__form {
  margin-top: 48px;
}
.escoSignin__block {
  padding: 0 60px;
}

.escoSignin__formContainer {
  margin-top: 50px;
  padding: 52px 0 44px;
}

.escoSignin__logoContainer {
  text-align: center;
}

.escoSignin__logo {
  width: 270px;
}

.escoSignin__message {
  margin-bottom: 24px;
}

.escoSignin__dividerContainer {
  position: relative;
  margin: 24px 0 18px;
  height: 24px;
  width: 100%;
}

.escoSignin__dividerText {
  position: absolute;
  top: 0;
  left: calc(50% - 2em);
  display: inline;
  font-size: 14px;
  text-align: center;
  width: 4em;
  padding: 0 0.5em;
  border: 1px solid $light-gray-main;
  border-radius: 13px;
  background-color: #fff;
  color: $dark-gray-light;
  z-index: 1;
}

.escoSignin__divider {
  position: absolute;
  width: 100%;
  top: 12px;
  left: 0;
  background-color: $light-gray-main;
}

.escoSignin__input {
  padding-bottom: 22px;
  margin-top: 8px;
}

.escoSignin__wrapper {
  margin-bottom: 16px;
}


