$escoIconButtonSize: 36px;

.escoIconButton {
  box-shadow: none;
  height: $escoIconButtonSize;
  min-width: $escoIconButtonSize;
  width: $escoIconButtonSize;
}

.escoIconButton__icon {
  display: inherit;
}
