.escaEmbedDialog__themeFormats {
  align-items: center;
}

.escaEmbedDialog__formatLabel {
  display: grid;
  place-items: center;
  margin-right: 12px;
}

.escaEmbedDialog__radioGroup {
  display: flex;
  flex-direction: row;
}

.escaEmbedDialog__snippetLabel {
  margin-top: 12px;
}

.escaEmbedDialog__switch {
  margin-left: 0px;
}
