.esmoFormItemsDialogHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
}

.esmoFormItemsDialogHeader_heading {
  align-items: center;
  display: flex;
}

.esmoFormItemsDialogHeader_actions {
  display: flex;
}

.esmoFormItemsDialogHeader__subheader {
  margin-bottom: 16px;
}

