.escoResourceInfoItem {
  padding: 12px 0;
}

.escoResourceInfoItem__title {
  font-weight: bold;
}

.escoResourceInfoItem__resourceLink {
  overflow-wrap: break-word;
}

.escoResourceInfoItem__downloadlinks {
  display: flex;
}

.escoResourceInfoItem__textLine {
  overflow-wrap: break-word;
}
