@import 'commons/theme/css/colors.scss';

.escaVisualizationFormSection {
  margin-bottom: 8px;
  margin-top: 16px;
}

.escaVisualizationFormSection__heading {
  color: $dark-gray-main;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}

.escaVisualizationForm__inputWrapper {
  margin-top: 16px;
  width: 100%;
}

.escoVisualizationForm__formControl--margin {
  margin-top: 0;
}

.escaVisualizationForm__inputLabel {
  color: $dark-gray-main;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}

.escaVisualizationForm__fieldMarker {
  font-weight: bold;
  margin-left: 4px;
}

.escaVisualizationFormSection__mapContainer {
  display: flex;
  flex-direction: column;
  height: 60vh;
  position: relative;
}

.escaVisualizationForm__langSelect {
  height: fit-content;
  margin: 16px 0 8px;
  min-width: 20ch;
}

.escaVisualizationForm__closeButton {
  align-self: center;
  height: fit-content;
  margin: 16px 0 8px;
}

.escaChartPlaceHolder {
  align-items: center;
  background-color: $medium-gray-light;
  color: $dark-gray-main;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  width: 100%;
}

.escaChartPlaceHolderLabel {
  text-align: center;
  width: 400px;
}

.escaChartPlaceHolderLabel--error {
  color: $error-main;
}

.escaVisualizationForm__underlinedLabel {
  border-bottom: solid 2px;
  border-color: $dark-gray-main;
}

.escaVisualizationForm__underlinedLabel--error {
  border-color: $error-main;
}
