@import 'commons/theme/css/colors.scss';

.esreAppBar__Tabs {
  box-shadow: none;
  margin-bottom: 12px;
}

.esreTabs {
  background-color: $white-main;
  padding-left: 24px;
}

.esreDirectlink {
  align-items: center;
  background-color: #808b901a;
  border-radius: 4px;
  color: $dark-gray-main;
  display: flex;
  font-size: 14px;
  justify-content: center;
  width: 92px;
}

.esreTabPanel__DirectLink {
  display: flex;
  justify-content: flex-end;
}

.esreOpenNewLink__Icon {
  height: 12px;
  margin-left: 5px;
  width: 12px;
}

.esrePipelineDialog__DialogTitle {
  background-color: $white-main;
  font-size: 28px;
  padding: 24px;
}

.esrePipelineDialog__DialogContent {
  height: 70vh;
}
