@import 'commons/theme/css/colors.scss';

.escaSearchSidebar {
  width: 300px;
  margin-right: 26px;
  background: $white-main;
  overflow-y: auto;
}

.escaSearchSidebar__header {
  padding: 0px 24px;
  border-bottom: 1px solid $light-gray-main;
}

.escaSearchSidebar__heading {
  padding: 21px 16px; 
}

.escaSearchSidebar__list {
  width: 100%;
  padding: 7px 24px;
}
