.escoPresenterLanguage {
  display: flex;
  margin-left: auto;
}

.escoPresenterLanguage__text {
  background: #474747;
  border-radius: 5px;
  color: white;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bolder;
  margin: 0 10px;
  padding: 3px 5px;
  text-transform: uppercase;
}
