@import 'commons/theme/css/colors.scss';

$dark-red: #ca5c28;
$dark-blue: #1f6bad;

@mixin index-card-basic($color) {
  width: 180px;
  height: 120px;
  background-size: 200% 200%;
  margin-right: 1em;
  margin-bottom: 1em;
  background-color: $color;
}

@mixin index-card($light-color, $dark-color) {
  @include index-card-basic($dark-color);

  transition: background-position 300ms;
  background-image: linear-gradient(to top, $light-color 50%, transparent 50%);

  &:hover {
    background-image: linear-gradient(
      to top,
      $light-color 51%,
      transparent 50%
    );
    background-position: 0 100%;
    transition: background-position 300ms;

    .escoIndexCard__icon {
      opacity: 0.5;
    }
  }
}

.escoIndexCard--red {
  @include index-card($accent-main, $dark-red);
}

.escoIndexCard--blue {
  @include index-card($primary-main, $dark-blue);
}

.escoIndexCard--semitransparent {
  transition: opacity 300ms;
  opacity: 0.15;

  &:hover {
    opacity: 1;
    transition: opacity 300ms;

    .escoIndexCard__icon {
      opacity: 0.5;
    }
  }
}

.escoIndexCard__content {
  height: 100%;
  box-sizing: content-box;
  padding: 0;
}

.escoIndexCard__link {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.escoIndexCard__link:focus {
  // Quick fix, should switch to card outline in the future
  // Didn't want to have to differentiate between card colours etc
  background: rgba(255, 255, 255, 0.2);
}

.escoIndexCard__link:link,
:hover {
  text-decoration: none !important;
}

.escoIndexCard__container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.escoIndexCard__number {
  color: white;
  font-weight: 800;
  font-size: xxx-large;
  flex: 2 1 auto;
  padding-left: 10px;
  padding-top: 10px;
}

@mixin index-card-text($color) {
  color: white;
  background-color: $color;
  font-weight: 550;
  font-size: small;
  flex: 1 1 auto;
  padding-left: 10px;
  padding-top: 10px;
  height: 30%;
}

.escoIndexCard__text--red {
  @include index-card-text($accent-main);
}

.escoIndexCard__text--blue {
  @include index-card-text($primary-main);
}

.escoIndexCard__icon {
  opacity: 0;
  transition: opacity 300ms;
  float: right;
}
