.escoPresenterField {
  align-items: center;
  display: flex;
  width: 100%;

  &:not(:first-child) {
    border-top: 1px solid rgb(230, 230, 230);
    margin-top: 2px;
    padding-top: 2px;    
  }  
}
