@import 'commons/theme/css/colors.scss';

.esreSource__textArea {
  background: $white-main;
  border-color: $light-gray-main;
  border-radius: 0;
  font-family: monospace;
}

.esreSource__Tabs {
  color: $dark-gray-main;
  width: fit-content;
  z-index: 1;
}

.esreSource__Tabs--selected {
  background: inherit;
}

.esreSource__Tab {
  background: $canvas-main;
  border: 1px solid $light-gray-main;
  height: 66px;
  opacity: 1;
}

.esreSource__Tab--selected {
  background: $white-main;
  border-bottom: 0;
}

.esreSource__Tab--first {
  border-right: 0;
}

.esreSource__TabPanel {
  margin-top: -2px;
}

.esreSource__AppBar {
  align-items: center;
  background: inherit;
  flex-direction: row;
}

.esreSource__TabBarButton {
  margin-left: 16px;
}

.esreSource__LoadingButton--failure {
  background: $error-main;
}

.esreSource__actionBar {
  align-items: center;
  display: flex;
  margin-top: 20px;
}

.esreSource__actionBarSecondaryButton {
  margin-left: 16px;
}

.esreSource__header {
  margin-bottom: 1.5em;
}
