@import "commons/theme/css/colors.scss";

.escoListViewSearchField {
  margin-right: 12px;
  width: 310px;
}

.escoListViewSearchField__input {
  background-color: $medium-gray-light;
  border-radius: 4px;
  color: $dark-gray-main;
  height: 48px;
  padding: 16px 12px 13px;
}

.escoListViewSearchField__adornment {
  color: $dark-gray-main;
}

.escoListViewSearchField__adornment--disabled {
  color: rgba(0, 0, 0, 0.26); // from .Mui-disabled, it doesn't auto-apply to adornment
}

.escoListViewSearchField__input--focused {
  background-color: $medium-gray-lightest;
}
