@mixin escoOverview__description {
  white-space: pre-line;
}

@mixin escoOverview__MetadataList {
  margin: 0;
  margin-bottom: 24px;
  width: 100%;
}

@mixin escoOverview__details {
  border-radius: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  justify-content: flex-start;
  width: 140px;
}

@mixin escoOverview__details--disabled {
  background-color: $blue-main;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  color: $white-main;
  opacity: 0.2;
}

@mixin escoOverview__main {
  flex: 1;
  max-width: 700px;
  padding: 12px;
  position: relative;
}

@mixin escoOverview__sidebar {
  max-width: 296px;
  padding: 12px 0 12px 12px;
}

@mixin escoOverviewSidebarListItem {
  padding-bottom: 6px;
  padding-top: 6px;
}

@mixin escoOverviewSidebarListItem__button {
  box-shadow: none;
  justify-content: start;
  width: 248px;
}

@mixin escoOverview__backButton {
  color: $accent-main;
  left: -28px;
  position: absolute;
}

@mixin escoOverview__divider {
  background-color: $light-gray-main;
  margin: 16px 0;
}

@mixin escoOverviewSidebarListItem__divider {
  background-color: $light-gray-main;
  margin: 12px 0;
  width: 100%;
}

@mixin escoOverviewHeader {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-bottom: 12px;
}


@mixin escoOverviewHeader__label {
  align-items: center;
  display: flex;
}

@mixin escoOverviewHeader__heading {
  color: $accent-main;
  margin-right: 6px;
}

@mixin escoOverviewHeader__icon {
  padding: 0;
}

@mixin escoOverview__horizontalButtons {
  grid-template-columns: repeat(4, 1fr) !important;
  margin: 0;
  overflow: hidden;
}

@mixin escoOverview__gridListTile {
  margin: 0 5px 10px 0;
  overflow: visible;
}

@mixin escoOverviewListItemPrimary {
  font-weight: 600;
}

@mixin escoOverviewListItemSecondary {
  font-size: 16px;
  line-height: 1.5;
}

@mixin escoOverviewListItemSecondary--inactive {
  color: $error-main;
}

@mixin escoOverviewGridListContainer {
  margin-bottom: 24px;
}

@mixin escoOverviewSideBarListItem__switchLabel {
  align-items: center;
  display: flex;
  padding-left: 11px;
}

@mixin escoOverviewSideBarListItem__secondaryAction {
  right: 16px;
}
