.escoImageView__image {
  margin: 0 auto 12px;
  max-height: 300px;
  max-width: 100%;
}

.escoImageView__message {
  margin: 0 0 12px;
}

.escoImageView__messageText {
  font-size: 20px;
  margin: 10px;
  vertical-align: middle;
}

.escoImageView__icon {
  vertical-align: middle;
}

.escoListImageViewInfoDialog__content {
  display: flex;
  flex-direction: column;
}

.escoListImageViewInfoDialog__expandableAreaButton {
  align-self: flex-start;
  margin-bottom: 12px;
  margin-left: -8px;
}
