@import 'commons/theme/css/colors.scss';

.escoInfoBlock {
  background-color: #e0ebf3;
  color: $dark-gray-main;
  display: flex;
  flex-direction: row;
  justify-content: initial;
  max-width: 810px;
  padding: 24px;
}

.escoInfoBlock__header {
  font-weight: bold;
}

.escoInfoBlock__body {
  padding-right: 10%;
}

.escoInfoBlock__icon {
  font-size: 36px;
  margin-right: 12px;

}
