.escoLinearProgressButton {
  display: block;
  width: 100%;
  height: 70%;
  margin: 5px 0;
}

.escoLinearProgressButton--disabled {
  cursor: auto;
}

.escoLinearProgressButton:hover {
  border-radius: 5px;
}