@import 'commons/theme/css/colors.scss';

.escaOverview__description {
  margin-bottom: 20px;
  margin-top: 8px;
  min-height: 150px;
}

.escaOverview__descriptionItemsGridList {
  margin: 0;
  width: 100%;
}

.escaOverview__details {
  border-radius: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  justify-content: flex-start;
  width: 140px;
}

.escaOverview__details:disabled {
  background-color: $blue-main;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  color: $white-main;
  opacity: 0.2;
}

.escaListItemIcon--dense {
  min-width: 40px;
}

.escaOverview__main {
  flex: 1;
  max-width: 700px;
  padding: 12px;
  position: relative;
}

.escaOverview__sidebar {
  padding: 12px 0 12px 12px;
  width: 224px;
}

.escaOverviewSidebarListItem {
  padding-bottom: 6px;
  padding-top: 6px;
}

.escaOverview__backButton {
  color: $accent-main;
  left: -30px;
  padding: 4px;
  position: absolute;
  top: 12px;
}

.escaOverview__divider {
  background-color: $light-gray-main;
  margin: 16px 0;
}

.escaOverviewSidebarListItem__divider {
  background-color: $light-gray-main;
  margin: 12px 0;
  width: 100%;
}

.escaOverviewHeader {
  align-items: flex-start;
  display: flex;
}

.escaOverviewHeader__heading {
  color: $accent-main;
  margin-right: 6px;
}

.escaOverviewHeader__icon {
  margin: 4px;
  margin-left: auto;
}

.escaOverview__horizontalButtons {
  margin: 0;
}

.escaOverview__gridListTile {
  margin: 0 5px 10px 0;
  overflow: visible;
}

.escaOverviewListItemPrimary {
  font-weight: 600;
}

.escaOverviewListItemSecondary {
  font-size: 16px;
  line-height: 1.5;
}

.escaOverviewListItemSecondary--inactive {
  color: $error-main;
}

.escaOverviewGridListContainer {
  margin-bottom: 24px;
  margin-top: 20px;
} 

.escaOverviewSideBarListItem__switchLabel {
  align-items: center;
  display: flex;
  padding-left: 11px;
}

.escaOverviewSideBarListItem__secondaryAction {
  right: 16px;
}
