@import 'commons/theme/css/colors.scss';

.esteConcepts__editorHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  width: 100%;
}

.esteConcepts__editorTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 70%;
}

.esteConcepts__editorActions {
  display: inline-flex;

  > * {
    color: $dark-gray-main;
    margin-left: 12px;
  }
}

.esteConcepts__editorPresenter {
  padding-top: 12px;
}

.esteConcepts__sidebar {
  padding: 0 !important;
}

.esteConcepts__sidebarHead {
  background: white;
  padding: 8px 12px;
}

.esteConcepts__sidebarBody {
  background: white;
  height: 66vh;
  max-height: 1280px;
  overflow: auto;
  padding: 12px;
}

.esteConcepts__Grid {
  height: 100%;
}

.escoTwoColView.esteConcepts__TwoColView {
  justify-content: space-evenly;
}

.escoTwoColView__Main.esteConcepts__main {
  width: 550px;
}
