@import 'commons/theme/css/colors.scss';

.escoSignup__logo {
  width: 270px;
}

.escoSignup__paper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white-main;
  padding: 60px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 #00000040;
}

.escoSignup__form {
  width: 100%;
  margin-top: 30px;
}

.escoSignup__wrapper {
  margin: 24px 0px;
  width: 100%;
  position: relative;
  float: right;
}

.escoSignup__Container {
  margin-bottom: 50px;
}

.escoSignup__agreementLink {
  display: flex;
  align-items: center;
  margin-left: 32px;

  &:first-of-type {
    margin-top: 6px;
  }
}

.escoSignup__agreementLinkIcon {
  font-size: inherit;
  margin-left: 4px;
}
