.escoMapScaleLineControl {
  align-items: center;
  align-self: center;
  background: var(--ol-partial-background-color);
  border-radius: 4px;
  display: flex;
  height: 20px;
  padding: 2px;
}

.escoMapScaleLineControl > * {
  border: 1px solid var(--ol-subtle-foreground-color);
  border-top: 0;
  color: var(--ol-foreground-color);
  font-size: 10px;
  margin: 1px;
  text-align: center;
  transition: all 0.25s;
  will-change: contents, width;
}
