@import "commons/theme/css/colors.scss";

.esreLinkCheck__HeaderContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.esreLinkCheckDashboard {
  display: flex;
  margin: 36px 0;
}

.esreLinkCheckDashboard__Card {
  flex: 1;
  text-align: center;
}

.esreLinkCheckDashboard__CardContent--failed {
  color: $error-light;
}

.esreLinkCheckDashboard__CardContent--excluded {
  color: $warning-main;
}

.esreTableCell--bold {
  font-weight: 600;
}

.esreTable__header {
  margin: 24px 0 12px;
}

.esreLinkCheck__Header {
  background-color: $white-main;
}

.esreOpenNewLink__Link {
  display: flex;
}

.esreViewRawData__Icon {
  height: 12px;
  margin: 6px 0px 0px 6px;
  width: 12px;
}

.esreTableCell--broken {
  color: $error-light;
}

.esreUriLink {
  font-size: inherit;
  font-weight: 600;
}

.esreUriLink:hover {
  text-decoration: underline !important;
}
