@import './mixin.scss';

.escoListViewListItemText {
  @include escoListViewListItemText;
}

.escoListViewListItemText__primary {
  @include escoListViewListItemText__primary;
}

.escoListViewListItemText__secondary {
  @include escoListViewListItemText__secondary;
}

.escoListViewListItemText__secondary--margin-left {
  @include escoListViewListItemText__secondary--margin-left;
}
