@import 'commons/theme/css/colors.scss';

@mixin escoListViewListItemText {
  display: flex;
}

@mixin escoListViewListItemText__primary {
  color: $dark-gray-main;
  font-weight: 600;
  overflow-wrap: anywhere;
}

@mixin escoListViewListItemText__secondary {
  align-items: center;
  color: $medium-gray-main;
  display: flex;
  font-size: unset;
}

@mixin escoListViewListItemText__secondary--margin-left {
  @include escoListViewListItemText__secondary;
  
  margin-left: 18px;
}
