@import 'commons/theme/css/colors.scss';

.escoOverviewListHeader {
  margin-bottom: 18px;
  padding: 0;
}

.escoOverviewListHeader__actionContainer {
  margin-left: 16px;
}

.escoOverviewListHeader__headingContainer {
  align-items: center;
  display: flex;
}

.escoOverviewListHeader__helperIcon {
  font-size: 20px;
  margin-left: 6px;
}
