.escoChartPlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 306px;
  width: 100%;
}

.escoChartPlaceholder__label {
  position: absolute;
  width: 246px;
  text-align: center;
  font-weight: bold;
}

.escoChartPlaceholder__progress {
  position: absolute;
}
