
@import 'commons/theme/css/colors.scss';
@import 'commons/theme/css/variables.scss';
@import 'commons/components/SearchInput/mixin.scss';

.escoHelpDrawer {
  display: flex;
  flex-direction: column;
  width: $help-drawer-width;
}

.escoHelpDrawer__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 9px 12px;
}

.escoHelpDrawer__headerTitle {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.escoHelpDrawer__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.escoHelpDrawer__linkIcon {
  font-size: inherit;
  margin-left: 4px;
}

.escoHelpDrawer__listItem:not(:hover) .escoHelpDrawer__linkIcon {
  display: none;
}

.escoHelpDrawer__footer {
  display: flex;
  flex-direction: column;
}

.escoHelpDrawer__footerIcon {
  color: $dark-gray-main;
  margin-right: 4px;
}

.escoHelpDrawer__searchInput {
  @include escoSearchInputMixin;

  height: 36px;
  padding: 0 8px;
}

.escoHelpDrawer__searchPlaceholder {
  margin-top: 12px;
}
