.escoCellExpand__paper {
  padding: 12px;
  overflow: auto;
}

.escoCellExpand__paper--clickable {
  cursor: pointer;
}

.escoCellExpand__prompt {
  margin-top: 12px;
  max-height: 280px;
}

.escoCellExpand__prompt .rdformsEditor .rdformsField {
  padding: 0px;
}

.escoCellExpand__paper .rdformsFieldControl {
  position: relative;
  padding-left: 7px;
}

.escoCellExpand__paper .rdformsEditor .rdformsRow.rdformsTopLevel {
  margin-bottom: 0px;
}

.escoCellExpandHeader {
  display: flex;
}

.escoCellExpandHeader__closeButton {
  margin-left: auto;
}

.MuiDataGrid-root .MuiDataGrid-cell.MuiDataGrid-cell--withRenderer {
  padding: unset;
}
