@import 'commons/theme/css/colors.scss';

.escoSubformEditor {
  border: 1px solid $light-gray-main;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 16px 12px 0 24px;
  width: 100%;
}

.escoSubformEditor__placeholder {
  margin-bottom: 16px;
}
