@mixin escoListViewActions {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}

.escoListViewActions {
  @include escoListViewActions;

  >:not(:first-child) {
    margin-left: 12px;
  }  
}

.escoListViewActions--compact {
  @include escoListViewActions;

  margin-left: 0;
}
