@import 'commons/theme/css/colors';

.escoTab {
  font-size: 18px;
  margin-right: 24px;
  min-height: 32px;
  min-width: auto;
  padding: 8px 4px;
  text-transform: capitalize;
}

.escoTab__wrapper {
  flex-direction: row;
}

.escoTabs {
  min-height: 32px;
}

.escoTabs__indicator {
  border-bottom: 4px solid $primary-main;
}

.escoTabs .escoTab:last-of-type {
  margin-right: 0;
}


.escoTabpanel {
  min-height: 350px;
}
