.esreStatistics--padding-bottom {
  padding-bottom: 9px;
}
.esreStatistics__header {
  margin: 24px 0 12px 0;
}
.esreStatisics__Progress {
  height: 186px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.esreTable__th--bold {
  font-weight: 600;
}