@import '../mixin.scss';

.escoListViewHeaderSortButton {
  @include escoListViewHeaderItem__primary;
  padding-left: 0px;
  background-color: transparent;
  justify-content: flex-start;
}

.escoListViewHeaderSortButton:hover  {
  background-color: transparent;
}