@import 'commons/theme/css/colors.scss';

.escoRdformsOutline {
  font-size: 14px;
  position: sticky;
  top: 0;
}

.escoRdformsOutline__listItem {
  border-left: 2px solid $light-gray-main;
  padding: 2px 12px;
}

.escoRdformsOutline__listItem--indented {
  padding-left: 30px;
}

.escoRdformsOutline__listItem--active {
  background: rgba(22, 115, 199, 0.05);
  border-left: 2px solid $primary-main;
}

.escoRdformsOutline__listItem--error {
  border-left: 2px solid $error-main;

  a {
    color: $error-main;
  }
}

.escoRdformsOutline__header {
  font-size: 13px;
  margin-top: 12px;
  text-transform: uppercase;
}

.escoRdformsOutline__searchPlaceholder {
  margin-top: 12px;
}

.escoRdformsOutline__navigation {
  height: 60vh;
  margin-top: 12px;
  overflow-y: auto;
}
