@import 'commons/theme/css/colors.scss';

.SegmentedControlTabs {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 60px;
  padding-top: 30px;
}

.SegmentedControlTabs__inner .itemBasic {
  min-height: 36px;
}

.SegmentedControlTabs__item {
  cursor: pointer;
}

.SegmentedControlTabs__item:disabled {
  cursor: none;
  opacity: 0.2;
}

.SegmentedControlTabs__item--selected:disabled {
  opacity: 1;
}

.SegmentedControlTabs__inner .SegmentedControlTabs__item {
  color: $dark-gray-main;
  flex: 1;
  min-height: 36px;
  padding-bottom: 0;
  padding-top: 0;
  text-transform: capitalize;
}

.SegmentedControlTabs__inner .SegmentedControlTabs__item--selected {
  background-color: $dark-gray-main;
  color: $white-main;
}

.segmentedControlTabs__indicator {
  height: 0;
}

.segmentedControlTabs__flexContainer {
  border: 1px solid $dark-gray-main;
  border-radius: 4px;
  width: 320px;
}
