@import 'commons/theme/css/colors.scss';

.escoReferenceEntriesList__header {
  font-size: 16px;
  font-weight: 700;
  margin-top: 17px;
}

.escoReferenceEntriesList__infoIcon {
  color: $dark-gray-light;
}
