.escoDescriptionItem {
  padding-bottom: 15px;
  padding-right: 40px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-size: 16px;
}

.escoDescriptionItem__label {
  font-weight: 600;
}

.escoDescriptionBlock__title {
  font-weight: 600;
  padding-bottom:6px;
}

.escoDescriptionBlock__description {
  padding-bottom: 12px;
  width: 600px;
}