@import 'commons/theme/css/colors.scss';

.LevelSelector {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-bottom: 24px;
}

.LevelSelector__level {
  align-items: center;
  background: $white-main;
  display: flex;
  flex: 1;
  height: 48px;
  justify-content: center;
  margin-right: 4px;
  width: 180px;
}

.LevelSelector__level--unchecked {
  background: #edeeee;
}

.LevelSelector__level:first-child {
  background: $white-main;
}

.LevelSelector__level:last-child {
  margin-right: 0;
}

.LevelSelector__label {
  text-transform: capitalize;
}
