@import 'commons/theme/css/variables.scss';
@import 'commons/theme/css/colors.scss';

.escoMainLayout__container {
  display: flex;
  height: 100%;
  justify-content: space-around;
}

.escoMainLayout__container--shifted {
  margin-left: $drawer-width;
  width: calc(100% - #{$drawer-width});
}

.escoMainLayout__container--shiftedRight {
  margin-right: $help-drawer-width;
  width: calc(100% - #{$help-drawer-width});
}

.escoMainLayout__container--shiftedBoth {
  margin-left: $drawer-width;
  margin-right: $help-drawer-width;
  width: calc(100% - #{$drawer-width} - #{$help-drawer-width});
}

.escoMainLayout__content {
  flex-basis: calc(100% - $sidebar-width);
  height: calc(100% - #{$app-bar-height});
  margin-left: $sidebar-width;
  margin-top: $app-bar-height;
  max-width: 1680px;
  overflow: auto;
  padding: 12px;
  padding-top: 36px;
  scroll-margin-top: 100px;
}

// AppBar
.escoAppBar {
  background: $canvas-main;
  border-bottom: 1px solid rgba(144, 147, 148, 0.25); // #909394 , 0.25 opacity
  box-shadow: none;
  color: $dark-gray-main;
  display: flex;
  height: $app-bar-height;
  justify-content: center;
  width: 100%;
}

.escoAppBar--shifted {
  margin-left: $drawer-width;
  width: calc(100% - #{$drawer-width});
}

.escoAppBar--shiftedRight {
  margin-right: $help-drawer-width;
  width: calc(100% - #{$help-drawer-width});
}

.escoAppBar--shiftedBoth {
  margin-left: $drawer-width;
  margin-right: $help-drawer-width;
  width: calc(100% - #{$drawer-width} - #{$help-drawer-width});
}

.escoSkipLink {
  background: $white-main;
  border: 1px solid rgba(144, 147, 148, 0.25);
  border-radius: 4px;
  font-size: 21px;
  left: calc(50% - 140px);
  padding: 12px;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translateY(-400px);
  width: 280px;
}

.escoSkipLink:focus {
  transform: translateY(0);
}

.escoH1--small {
  font-size: 21px;
}

// Drawer
.escoDrawer {
  background: $white-main;
  box-shadow: 0 2px 6px #00000040;
  overflow: hidden;
  width: $drawer-width;
}

.escoDrawer__brand {
  align-items: center;
  border-bottom: 1px solid rgba(144, 147, 148, 0.25);
  display: flex;
  height: $app-bar-height;
  justify-content: center;
  min-height: 96px;
}

.escoDrawer__logo {
  max-height: 59px;
  width: 54px;
}

.escoDrawer__navigation {
  overflow: auto;
}

// PrimaryNav
.escoPrimaryNav__ListItemLink {
  align-items: center;
  color: $dark-gray-main;
  display: flex;
  flex-direction: column;
  height: 84px;
  justify-content: center;
  padding: 12px;
}

.escoPrimaryNav__ListItemLinkOutIcon {
  font-size: 14px;
  margin-left: 2px;
  margin-right: -16px;
  vertical-align: top;
}

.escoPrimaryNav__ListItemLink--active {
  color: $primary-main;
  font-weight: 600;
}

.escoPrimaryNav__ListItemLink:hover {
  background: #f3f8fd;
}

.escoPrimaryNav__Text {
  font-size: 14px;
  overflow-wrap: break-word;
  margin-top: 6px;
  text-align: center;
  width: 100%;
}

.escoPrimaryNav__Icon {
  font-size: 24px;
}

// Sidebar
.escoSidebar {
  display: flex;
  flex-direction: column;
  height: calc(100% - #{$app-bar-height + $app-bar-margin-bottom});
  justify-content: space-between;
  left: 0;
  margin-left: 12px;
  margin-top: $app-bar-height + $app-bar-margin-bottom;
  padding: 12px;
  position: fixed;
  width: $sidebar-width;
}

.escoSidebar--shifted {
  left: $drawer-width;
}

// SidebarBrand
.escoSidebarBrand {
  width: 84px;
}

.escoBrand {
  width: 100%;
}

.escoBrand__Link {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.escoBrand__logo {
  width: 70px;
}

.escoExternalLinks {
  display: flex;
  flex: 1;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: flex-end;
}

.escoExternalLinks__Divider {
  background-color: rgba(128, 139, 144, 0.25);
}

.escoExternalLink {
  color: $dark-gray-light;
  font-size: 11px;
  justify-content: center;
  overflow-wrap: anywhere;
  text-align: center;
  text-transform: capitalize;
}

// ! delete this when we start using only image logos
.escoBrand .logo-text {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 6px;
  width: 100%;
}

// SecondaryNav
.escoSecondaryNav {
  display: flex;
  flex-direction: column;
  max-height: 80%;
  overflow-wrap: anywhere; // ! not supported on IE
  padding-left: 48px;
  width: 100%;
}

.escoSecondaryNav__Link {
  align-items: center;
  color: $dark-gray-main;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  margin-bottom: 12px;
}

.escoSecondaryNav__Link--active {
  color: $primary-main;
  font-weight: 600;
}

// User menu
.escoToolbar__Button--right {
  margin-left: auto;
}

.escoToolbar__Icon--large {
  font-size: 36px;
}

.escoToolbar__Icon--orange {
  color: $accent-main;
}

.escoToolbarMenu__Popover {
  width: 320px;
}

.escoToolbarMenu__Item {
  font-size: 15px;
}

.escoToolbarMenu__Item--large {
  font-size: 21px;
}

.escoToolbarMenu__Item--gray {
  color: $dark-gray-light;
}

.escoToolbarMenu__Item--selected {
  background-color: rgba(22, 115, 199, 0.12) !important;
  display: flex;
  justify-content: space-between;
}

.escoToolbarMenu__label {
  align-items: center;
  display: flex;
}

.escoToolbarMenu__Item--opaque {
  opacity: 1 !important;
}

.escoToolbarMenu__Icon {
  margin-right: 0.3em;
}

.escoToolbarMenu__Link,
.escoToolbarMenu__Link:hover .escoToolbarMenu__Link:focus {
  color: $dark-gray-light !important;
  text-decoration: underline !important;
}

.escoToolbarMenu__linkIcon {
  font-size: inherit;
  margin-left: 4px;
}

.escoUserMenu__badge {
  border: 1px solid $canvas-main;
  border-radius: 6px;
  height: 12px;
  min-width: 12px;
}


// View layout
.escoTwoColView {
  display: flex;
  height: 100%;
  min-width: 700px; // needed for horizontal scroll to kick in
}

.escoTwoColView__Sidebar {
  padding: 12px;
  width: 300px;
}

.escoTwoColView__Main {
  flex: 1;
  padding: 12px;
}

.escoToolbar {
  display: flex;
  justify-content: space-between;
}

.escoToolbarHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.escoToolbarHeader__Menu {
  align-items: center;
  display: flex;
  flex-grow: 1;
}

// MEDIA QUERIES
@media (width <= 1280px) {
  .escoSidebar {
    width: $sidebar-width-min;
  }

  .escoMainLayout__content {
    flex-basis: calc(100% - $sidebar-width-min);
    margin-left: $sidebar-width-min;
  }

  .escoSecondaryNav {
    padding-left: 0;
  }
}

@media (width > 1280px) {
  .escoMainLayout__content {
    padding-right: 100px;
  }
}
