.escoLayerLegendControl {
  border: 1px solid rgba(128, 128, 128, 0.25);
  border-radius: 4px;
  bottom: 0.5em;
  color: #666;
  left: 0.5em;
  max-height: 80%;
  max-width: 40%;
  min-width: 200px;
  overflow: auto;
  position: absolute;

  &:hover {
    outline: 1px solid #666;
  }
}


.escoLayerLegendControl__placeholder {
  font-style: italic;
}

.escoLayerControl__header {
  align-items: center;
  background-color: white;
  border-radius: 2px;
  color: #666;
}

.escoLayerControl__button {
  background-color: white;
  border-radius: 2px;
  color: #666;
  width: 100%;

  &:hover {
    background-color: white;
    color: #333;
  }
}

.escoLayerLegendControl__content {
  background-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 0.5px solid #666;
  padding: 16px;
}

.escoLayerLegendControlItem {
  margin-bottom: 8px;
}

.escoLayerLegendControlItem__title {
  margin-bottom: 4px;
}

.escoLayerLegendControlItem__placeholder--error {
  font-size: 12px;
  font-style: italic;
}
