.esreNotifications__view {
  width: 675px;
}

.esreNotifications__view__label {
  font-weight: bold;
  margin-bottom: 4px;
}


.esreNotifications__notificationStatus {
  margin-top: 12px;
}


.esreNotifications__editButton {
  text-align: right;
}

.esreNotifications__view__text {
  padding-top: 12px;
}
.esreNotifications__form {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

// override MuiInputLabel-formControl class
.esreNotifications__inputLabel {
  display: inline-block;
  position: relative;
  width: 100%;
  transform: translate(0, 0);
  padding: 7px 0 9px 0;
}

.esreNotifications__typography {
  margin-top: 18px;
}

.esreNotifications__h2 {
  margin-top: 28px;
  padding-bottom: 10px;
}

.esreNotifications__formControl {
  align-items: baseline;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 18px;
}

.esreNotifications__formControlLabel {
  margin: 24.5px 0 25px;
}

.esreNotifications__select {
  max-width: 271px;
}

.esreNotifications__label {
  margin-right: 14px;
}
