@import 'commons/theme/css/colors.scss';

@mixin escoSearchInputMixin {
  background-color: $medium-gray-light;
  border-radius: 4px;
  color: $dark-gray-main;
  height: 48px;
  padding: 16px 12px 13px;
  width: 100%;

  input::placeholder {
    opacity: 1;
  }
}
