@import "commons/theme/css/colors.scss";

.escoLinearProgress {
  border: 1px solid $light-gray-main;
  height: 12px;
}

.escoLinearProgress__background {
  background-color: $white-main;
}

.escoLinearProgress__bar--red {
  background-color: $accent-main;
}

.escoLinearProgress__bar--green {
  background-color: $success-main;
}

.escoLinearProgress__bar--gray {
  background-color: $light-gray-main;
}
