@import 'commons/theme/css/colors.scss';

.escoGeonamesChooser__dialog {
  height: calc(90% - 64px);
}

.escoGeonamesChooser__dialogContent {
  padding-top: 0;
}

.escoGeonamesChooser__loading {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.escoGeonamesChooser__expandedGrid {
  margin-bottom: 16px;
  padding: 16px;
}
