@import 'commons/theme/css/colors.scss';

.escoSearchFilters__collapse {
  background: none;
  box-shadow: none;
  margin: 0 !important;
}

.escoSearchFilters__container {
  display: flex;
  margin-top: 36px;
}

.escoSearchFilters__clearButton {
  height: 56px;
  margin: 8px 0 8px 8px;
}
