.escoMapControlGroup {
  border: 1px solid rgba(128, 128, 128, 0.25);
  border-radius: 4px;
  pointer-events: none;
  position: absolute;
  right: .5em;
  top: .5em;
  z-index: 1000;
}

.escoMapControlGroup > * {
  pointer-events: auto;
}
