@import 'commons/theme/css/colors.scss';

.escaCatalogListItemContainer {
  width: 100%;
}
.escaCatalogListItemContainer .Mui-selected {
    background-color: $blue-main;
    border-radius: 4px;
}
.escaCatalogListItemContainer .Mui-selected:hover {
  background-color: $blue-main;
}
.escaCatalogListItem__selectedItem .escaCatalogListItemLabel,
.escaCatalogListItem__selectedItem .escaCatalogListItemLabel__number {
  color: $white-main;
}

.escaCatalogListItemLabel {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}