@import 'commons/theme/css/colors.scss';

@mixin escoListViewHeader {
  margin-top: 12px;
}

@mixin escoListViewHeader__gridContainer {
  width: 100%;
}

@mixin escoListViewHeader__gridItem {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin escoListViewHeaderItem__primary {
  color: $dark-gray-main;
  display: flex;
  font-weight: 600;
  line-height: 1.5;
}
