@import 'commons/theme/css/colors';

.escoPublishToggleListItemSecondary {
  font-size: 16px;
  line-height: 1.5;
}

.escoPublishToggleListItemSecondary--inactive {
  color: $error-main;
}

.escoPublishToggleListItemPrimary {
  font-weight: 600;
}

.escoPublishToggleSideBarListItem__secondaryAction {
  right: 12px;
}

.escoPublishToggleItemIcon--dense {
  min-width: 40px;
}

.escoPublishToggleSideBarListItem__switchLabel {
  align-items: center;
  display: flex;
  padding-left: 11px;
}
