@import 'commons/theme/css/colors.scss';
@import 'commons/components/overview/overviewMixin.scss';

.esteCollectionOverview__details {
  @include escoOverview__details;
}

.esteCollectionOverview__details:disabled {
  @include escoOverview__details--disabled;
}

.esteCollectionOverview__main {
  @include escoOverview__main;
}

.esteCollectionOverview__backButton {
  @include escoOverview__backButton;
}

.esteCollectionOverview__divider {
  @include escoOverview__divider;
}

.esteCollectionOverviewSidebarListItem__divider {
  @include escoOverviewSidebarListItem__divider;
}

.esteCollectionOverviewListItemPrimary {
  @include escoOverviewListItemPrimary;
}

.esteCollectionOverviewListItemSecondary {
  @include escoOverviewListItemSecondary;
}

.esteCollectionOverviewListItemSecondary--inactive {
  @include escoOverviewListItemSecondary--inactive;
}

.esteCollectionOverviewSideBarListItem__switchLabel {
  @include escoOverviewSideBarListItem__switchLabel;
}

.esteCollectionOverviewSideBarListItem__secondaryAction {
  @include escoOverviewSideBarListItem__secondaryAction;
}
