@import 'commons/theme/css/colors.scss';

.escoStartBanner {
  padding: 48px;
}
.escoStartBanner__GridItem {
  padding: 0 24px;
}
.escoStartBanner__header {
  color: $accent-main;
  height: 54px;
}
.escoStartBanner__text {
  font-size: 21px;
  color: $dark-gray-main;
}
.escoStartBanner__buttonContainer {
  width: 40%;
}
.escoStartBanner__GridItem--padding-top {
  padding-top: 24px;
}
.escoStartBanner__GridItem--margin-right {
  margin-right: 12px;
}