@import 'commons/theme/css/colors.scss';

.esmoFormOverview__main {
  flex: 1;
  max-width: 700px;
  padding: 12px;
  position: relative;
}

.esmoList__sidebar {
  background: $white-main;
  margin-right: 24px;
  padding: 0 !important;
}

.esmoList__sidebarHead {
  color: $dark-gray-main;
  font-weight: bold;
  padding-bottom: 9px;
}

.esmoList__sidebarFormTitle {
  padding: 12px 15px;
}

.esmoSidebar__sidebarHeader {
  display: flex;
  justify-content: space-between;
  padding-right: 6px;
}

.esmoSidebar__addButton {
  margin-right: 6px;
  margin-top: 6px;
}

.esmoSidebar__formDetails {
  align-items: center;
  display: flex;
  padding-left: 12px;
}

.esmoList__sidebarBody {
  height: calc(100% - 72px); // ! fix
  min-height: 400px;
  overflow: auto;
  padding: 12px;
}

.esmoAddItemsToList__select {
  margin: 0px 8px 8px 0px;
  min-width: 250px;
}

.esmoAddItemsToForms__actions {
  width: 100%;
}
//overriding escoListViewActions to use 3 columns
.esmoListActions {
  display: flex;
  flex-direction: column;

  &:first-child {
    flex-grow: 3;
  }

  :nth-child(2) {
    margin-left: 0;
  }
}

.esmoAddItemsToForms__search {
  display: flex;
  justify-content: space-between;
}

.esmoAddItemsToForms__filter {
  display: flex;
  justify-content: flex-start;
}

.esmoTwoColView {
  display: flex;
  height: 100%;
}

.esmoFormOverview__sidebar {
  display: flex;
  padding: 12px;
  width: 224px;
}

.esmoFormOverviewSidebarListItem {
  padding-bottom: 6px;
  padding-top: 6px;
}

.esmoFormOverviewSidebarListItem__button {
  box-shadow: none;
  width: 168px;
}

.esmoFormOverviewSidebarListItem {
  padding-bottom: 6px;
  padding-top: 6px;
}

.esmoFormOverviewSidebarListItem__divider {
  background-color: $light-gray-main;
  margin: 12px 0;
  width: 100%;
}

.esmoFormOverview__emptyPlaceholder {
  align-items: center;
  display: flex;
  flex-grow: 2;
  font-size: 21px;
  font-weight: bold;
  justify-content: center;
}
