@import 'commons/theme/css/colors.scss';

.MuiBreadcrumbs-ol {
  height: 100%;
}

.escoLinkedDataBrowser__navigation {
  padding: 2px 2px 2px 12px;
}

.escoLinkedDataBrowser__breadcrumbs {
  margin-left: 24px;
  min-height: 48px;
}

.escoLinkedDataBrowser__currentBreadcrumb {
  color: black !important;
  font-weight: 400;
  text-decoration: underline !important;
}

.escoLinkedDataBrowser__breadcrumbButton {
  color: $dark-gray-main;
  font-weight: 400;

  &:hover {
    background-color: transparent;
    text-decoration: underline !important;
  }
}

.escoLinkedDataBrowser__controls {
  display: flex;
  flex-direction: row;
}

.escoLinkedDataBrowser__tabs {
  margin-right: auto;
  margin-top: auto;
  min-height: 48px;
  padding: 16px 16px 0 24px;
}

.escoLinkedDataBrowser__dialogContent {
  padding: 0;
}

.escoLinkedDataBrowser__loader {
  height: 100%;
}

.escoLinkedDataBrowser__infoPanel {
  padding: 24px 48px;
}

.escoLinkedDataBrowser__infoPanel > *:not(:last-child) {
  margin-bottom: 24px;
}

.escoLinkedDataBrowser__aboutPanel {
  padding: 12px 48px;
}

.escoLinkedDataBrowser__refsPanel {
  margin-top: -12px;
  padding: 0 48px;
}

.escoMdVisibilityControl {
  display: flex;
  justify-content: center;
}

.escoMdVisibilityControl__Paper {
  background: transparent;
  display: flex;
  width: fit-content;
}

.escoReferencesList__loader {
  margin-bottom: auto;
  margin-top: auto;
}

.escoReferencesList__placeholder {
  margin-top: 156px;
}

.escoLinkedDataBrowser__allLanguagesToggle {
  border: 0;
  border-radius: 50%;
  margin: 12px;
  padding: 6px;
}

.escoLinkedDataBrowser__allLanguagesToggle.MuiToggleButton-root.Mui-selected {
  background-color: transparent;
  color: $primary-main;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.escoLinkedDataBrowser__languageSelectContainer {
  border-radius: 50%;
  height: fit-content;
  margin: auto 18px auto 0;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  &.Mui-disabled:hover {
    background-color: transparent;
  }
}

.escoLinkedDataBrowser__languageSelectContainer > div:first-child {
  padding: 6px !important;

  &:focus {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 50%;
  }

  &.Mui-disabled {
    color: $white-main;
    opacity: 0.5;
    -webkit-text-fill-color: $white-main;
  }
}

.escoLinkedDataBrowser__languageTag {
  background-color: #474747;
  border-radius: 5px;
  color: $white-main;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bolder;
  padding: 3px 5px;
  text-transform: uppercase;
}

.escoLinkedDataBrowser__languageSwitcherButton {
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bolder;
  padding: 2px 4px;
}
