@import 'commons/theme/css/colors.scss';
@import 'commons/components/ListView/ListItem/mixin.scss';

.escaApiInfo__column {
  margin-bottom: 24px;
}

.escaApiInfo__apiColumnsList {
  @include escoListViewListItem;

  margin-bottom: 0;
  padding: 8px 16px;
}

.escaApiInfo__header {
  font-weight: bold;
}

.escaApiInfo__status-green {
  color: $success-main;
}

.escaApiInfo__status-red {
 color: $error-main;
}
