@import 'commons/theme/css/colors.scss';

$dark-red: #ca5c28;

.escoOverviewTileButton {
  border-radius: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  justify-content: flex-start;
  padding: 6px 12px;
  width: 160px;
}

.escoOverviewTileButton--disabled:disabled {
  background-color: $blue-main;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  color: $white-main;
  opacity: 0.2;
}

.escoOverviewTileButton__labelPrefix {
  font-weight: 800;
}

.escoOverviewTileButton__label {
  margin-left: 6px;
}

.escoOverviewTileButton--primary {
  background-color: $accent-main;
  
  &:hover {
    background-color: $dark-red;
    background-position: 0 100%;
    transition: background-position 300ms;
  }
}

.escoOverviewTileButton__icon {
  margin-left: auto;
  opacity: 0;
  transition: opacity 300ms;
}

.escoOverviewTileButton:hover .escoOverviewTileButton__icon {
  opacity: 1;
}
