@import 'commons/theme/css/colors.scss';

// RDForms style overrides
// TODO should move elsewhere

.rdforms {
  color: $dark-gray-main;

  .rdformsLabel {
    color: $dark-gray-main;
    margin-bottom: 8px;
  }

  .rdformsField > .MuiFormControl-root {
    margin: 0;
  }

  .rdformsLanguage {
    margin-left: auto;
    order: 1;
    word-break: normal;
  }

  /* stylelint-disable-next-line selector-max-compound-selectors */
  .cardgroup > .rdformsFields > .rdformsGroup {
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
  }

  .rdformsField {
    align-items: center;
    display: flex;
  }

  .rdformsField a,
  .rdformsGroup a {
    color: $primary-main;
    overflow-wrap: anywhere;
    word-break: break-word;
  }

  .rdformsRepeatedValue {
    margin-top: 4px;
    padding-top: 4px;
  }
}

.rdforms.rdformsEditor {
  .rdformsField {
    align-items: center;
    display: flex;
    padding-right: 55px;
  }

  .rdformsField > button {
    color: $primary-main;
    margin-top: 10px;
  }

  .rdformsMandatoryMark {
    color: $dark-gray-main;
    display: inline;
    margin-left: 4px;
  }

  .rdformsRecommendedMark,
  .rdformsOptionalMark {
    color: $dark-gray-light;
    display: inline;
    font-size: unset;
    padding-left: 6px;
  }

  .rdformsTwoThirds {
    margin: 0 12px 0 0;
  }

  .rdformsAddChild {
    height: auto;
    margin: 14px 0 0 10px;
    padding: 0;
  }

  .rdformsLangControl {
    margin: 0;
  }

  .rdformsField.rdformsRepeatedValue {
    margin-top: 18px;
  }

  .rdformsSearch > div {
    margin: 0;
  }

  .rdformsRow.rdformsTopLevel {
    margin-bottom: 18px;
    padding-top: 0;
  }

  .rdformsDatePicker > * {
    margin: 0 12px 0 0;
  }

  .rdformsFieldControl {
    margin-top: 10px;
    top: unset;
    width: 48px;
  }

  .rdformsError,
  .rdformsRow.missingDepsWithValue {
    border: 2px solid $error-main;
    border-radius: 4px;
  }

  .rdformsWarning {
    color: $error-main;
    font-size: 14px;
    font-weight: unset;
  }

  .rdformsDurationInput {
    margin-left: 12px;
  }

  .rdformsDurationInput:first-child {
    margin-left: 0;
  }
}

.rdforms.rdformsValidator {
  .rdformsValidationMessage {
    color: $dark-gray-main;
  }

  .rdformsField.error,
  .rdformsField.warning,
  .rdformsField.deprecated {
    align-items: start;
    display: flex;
    flex-direction: column;
  }

  .rdformsField.deprecated {
    color: $blue-main;
  }

  .rdformsField.deprecated svg {
    color: $blue-main;
  }

  .rdformsField.error {
    color: $error-main;
  }

  .rdformsField.warning {
    color: $warning-main;
  }
}
