@import 'commons/theme/css/colors.scss';

.escoExpandableListItem {
  background-color: $white-main;
  box-shadow: 0px 1px 3px #00000040;
  margin: 12px 0px;
  color: $dark-gray-main;
}

.escoExpandableListItem__details {
  padding: 14px 24px 23px 66px;
  border-top: 1px solid $light-gray-main;
  flex-direction: column;
}

.escoExpandableListItemHeader {
  display: flex;
  height: 48px;
}

.escoExpandableListeItemHeader__toggle {
  order: -1;
  padding-left: 6px;
  padding-right: 20px;
}

.MuiAccordionSummary-expandIconWrapper.Mui-expanded {
  transform: unset;
}

.escoExpandableListeItemHeader__primary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
}
