@import 'commons/theme/css/colors.scss';

.escaOverviewListItem {
  padding: 0px;
  align-items: unset;
}

.escaOverviewListItemText__root {
  margin: 0px;
}

.escaOverviewListItemText__primary {
  font-weight: 600;
}
.escaOverviewListItemText__secondary {
  font-size: unset;
  color: $dark-gray-main;
}
