@import 'commons/theme/css/colors.scss';

.esreCards {
  background-color: $canvas-main;
  padding: 18px 48px 31px 48px;
}

.escoCards {
  background-color: $canvas-main;
  padding: 48px;
}

.escoCardList {
  width: 100%;
  max-width: 1000px;
}

.esreCardList__li {
  padding: 18px 24px;
  justify-content: center;
}

.esreCardList__li:hover {
  background-color: $medium-gray-light;
}

.escoCardList__li {
  background-color: $white-main;
  padding: 18px 24px;
  justify-content: center;
}

.escoCardList__li:hover {
  background-color: $medium-gray-light;
}

.escoLinkWrapper {
  text-decoration: none;
  color: $dark-gray-main;
}

.escoCard {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.escoCard__header,
.escoCard_footer {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.escoCard__text {
  font-size: 18px;
}

.escoCard__text--color-blue {
  color: $primary-main;
}

.escoCard__linkIcon {
  place-self: start;
  font-size: 14px;
  margin-left: 2px;
}
