.escoControlGroup {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  padding: 0.5em;
  position: absolute;
  z-index: 1;
}

.escoControlGroup--bottom-right {
  bottom: 0;
  right: 0;
}

.escoControlGroup--bottom-left {
  bottom: 0;
  left: 0;
}

.escoControlGroup--top-right {
  right: 0;
  top: 0;
}

.escoControlGroup--top-left {
  left: 0;
  top: 0;
}
