.escaOverviewStats {
  height: 400px;
  width: 100%; 
}

.escaOverviewStats__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
}

.escaOverviewStats__header {
  margin-bottom: 28px;
}
