.esteEditCollectionConceptsDialog__filters {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: end;
}


.esteEditCollectionConceptsDialogFilter {
  max-width: 190px;
  width: 100%;
}
