.esmoSpecificationPreview {
  background-color: #fff;
}

.esmoSpecificationPreview * {
  box-sizing: content-box;
}

.esmoSpecificationPreview table {
  box-sizing: border-box;
}

.rdforms-specs .overlarge > table {
  margin-left: 0;
  margin-right: 0;
}
