@import 'commons/theme/css/colors.scss';

.LoadingButton {
  align-items: center;
  display: flex;
}

.LoadingButton--loading {
  color: transparent !important;
}

.LoadingButton__wrapper {
  position: relative;
  width: 100%;
}

.LoadingButton__Progress {
  left: calc((100% - 24px) / 2);
  position: absolute;
  top: calc((100% - 24px) / 2);
}
