@import 'commons/theme/css/colors.scss';

.escoError {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: center;
}

.escoError__header {
  color: $accent-main;
  margin-top: 54px;
}

.escoError__body {
  font-size: 21px;
  margin-top: 18px;
}
