@import 'commons/theme/css/colors.scss';

.esmoDiagramControl {
  margin-bottom: 10px;
}

.esmoDiagramControl__headingButton {
  color: $accent-main;
}

.esmoDiagramControl__heading {
  color: $accent-main;
  display: inline-block;
}

.esmoDiagramControl--maximized {
  margin: 10px;
}

.esmoDiagramControl__controlGroup {
  float: right;
}

.esmoDiagramControl__editMetadataButton {
  margin-left: 15px;
  margin-top: -8px;
}
