@import 'commons/theme/css/colors.scss';

.esreHarvestStatus__Header {
  border-bottom: 2px solid $medium-gray-light;
  margin: 6px 0 36px;
  padding: 24px 0;

}

.esreHarvestReportList {
  padding-bottom: 24px;
}

.esrePipelineResultHeader {
  align-items: center;
  border-bottom: 2px solid $medium-gray-light;
  display: flex;
  font-size: 21px;
  justify-content: space-between;
  margin-bottom: 24px;
  margin-top: 36px;
  padding-bottom: 6px;
}

.esrePipelineResultHeader__actions {
  align-items: center;
  display: flex;
}

.esreHarvestList__Refresh {
  margin-right: 12px;
}
