@import "commons/theme/css/colors.scss";

.escaCommentForm {
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 1px 4px #00000040;
  padding: 24px;
}

.escaCommentForm__button {
  display: flex;
  justify-content: flex-end;
}

.escaReply__cancelButton {
  margin-right: 12px;
}

.escaComment__header {
  background-color: $light-gray-main;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 1px 4px #00000040;
  margin-top: 24px;
  padding: 12px 24px;
}

.escaComment__description {
  background-color: $white-main;
  box-shadow: 0px 1px 4px #00000040;
  padding: 12px 24px;
}

.escaComment__footer {
  background-color: $white-main;
  box-shadow: 0px 1px 4px #00000040;
  border-radius: 0px 0px 5px 5px;
  padding: 12px 24px;
}

.escaCommentFooter__action {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  align-items: center;
}

.escaCommentFooter__button {
  margin: 0px 10px;
}

.escaReply__description {
  box-shadow: 0px 1px 4px #00000040;
  border-radius: 5px 5px 0px 0px;
  padding: 18px 30px;
}

.escaReply__footer {
  background-color: $white-main;
  box-shadow: 0px 1px 4px #00000040;
  border-radius: 0px 0px 5px 5px;
  padding: 6px 30px;
  margin-bottom: 12px;
}

.escaCommentFooter__showReply {
  height: 50%;
}

.escaCommentFooter__actionButtons {
  display: flex;
  align-items: center;
}

.escaCommentsFooter__author {
  font-size: 14px;
  color: $dark-gray-light;
}

.escaComments__circularProgress {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.escoComments__commentsUpdateText {
  position: relative;
  top: -1999px;
}
