.escaStatisticsDialogChartControls {
  display: flex;
  align-items: center;
}

.escaStatisticsChart {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 350px;
  width: 100%;
}

.escaStatisticsChart__chart {
  width: 100%;
}

.escaStatisticsChart__label {
  position: absolute;
}

.escaStatisticsChart__loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.escaStatisticsChart__chart--empty {
  opacity: 0.3;
}
