@import 'commons/theme/css/colors.scss';

.escoLayerSwitcherControl {
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.25);
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: calc(0.5em + 2px);
  top: calc(0.5em + 2px);
  z-index: 998;
}

.escoLayerSwitcherControl__paper {
  height: 60vh;
  padding: 16px;
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
  z-index: 999;
}

.escoLayerSwitcherControl__closeButton {
  text-align: right;
}

.escoLayerSwitcherControl__layers {
  flex-wrap: nowrap;
  height: calc(100% - 20px);
  overflow-y: auto;
}

.escoLayerSwitcherControl__layersButton {
  background-color: white;
  border: 0;
  color: #666;
}

.escoLayerSwitcherControl__layersButton:hover {
  background-color: white;
  border: 0;
  color: #333;
  outline: 1px solid #666;
}

.escoLayerSwitcherItem__controlLabel {
  margin: 0;
  padding: 5px 0;
}

.escoLayerSwitcherItem__label {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
}
