@import 'commons/theme/css/colors.scss';

.escaCatalogInfo__header {
  padding: 5px 0 9px;
}

.escaCatalogInfo__heading {
  color: $accent-main;
  font-size: 28px;
}

.escaCatalogInfo__divider {
  background-color: $light-gray-main;
  margin: 12px 0;
  width: 100%;
}

.escaCatalogInfo__presenter {
  margin: 12px 0px 12px 12px;
}

.escaCatalogMetadataPresenter__button {
  margin-bottom: 24px;
  margin-left: -16px;
}