@import 'commons/theme/css/colors.scss';

.escoTableView__buttonWrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
}

.escoTableView__errorMessage {
  color: $error-main;
  padding-top: 6px;
}

.escoTableView__errors {
  display: flex;
  flex-direction: column;
  padding: 6px 12px;
}

.escoTableView__pagination {
  min-width: 360px;
}

.MuiDataGrid-main .MuiCheckbox-colorPrimary.Mui-disabled {
  display: none;
}

.MuiDataGrid-root .MuiDataGrid-row.Mui-selected {
  background: rgba(247, 206, 38, 0.2) !important; // warning.main with opacity

  &:hover {
    background: rgba(247, 206, 38, 0.24) !important;
  }
}

.MuiDataGrid-root .MuiDataGrid-columnsContainer {
  justify-content: center;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus {
  outline: none;
}

.escoTableView__main {
  height: 70vh;
  margin-top: 36px;
  width: 100%;
}

.escoTableView__headerButtons {
  border: 0;
}

.escoTableView__headerButtons:hover {
  border: 0;
}

.escoTableView__columnHeader {
  font-size: inherit;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.escoTableView__circularProgress {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.escoTableView__footerContainer {
  flex-wrap: inherit;
}

.escoTableView__footerButton {
  margin: 6px !important;
}

.escoTableViewSearch {
  align-items: center;
  display: flex;
}

.escoTableViewSearch__root {
  background-color: $medium-gray-light;
  border-radius: 4px;
  color: $dark-gray-main;
  height: 48px;
  padding: 16px 12px 13px;
  width: 250px;

  input::placeholder {
    opacity: 1;
  }
}

.escoTableViewSearch__adornment {
  color: $dark-gray-main;
}

.escoTableViewSearch__adornment--disabled {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.25);
}

.escoTableViewSearch__statusMessage {
  padding-left: 12px;
}

.escoTableView__listViewIcon {
  margin-left: auto;
}

.escoTableView__profileFormControl {
  margin: 0;
  min-width: 120px;
}

.escoTableView__profileInputBase {
  min-width: 200px;
}

.escoTableView__filterBar {
  align-items: center;
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.escoTableView__filterControls {
  margin-left: auto;
}

.escoTableView__pagination--disabled {
  color: $medium-gray-main;
}

.escoTableView__cell--error {
  border-bottom: 2px solid $error-main !important;
}

.MuiDataGrid-root .MuiDataGrid-row.escoTableView__row--error {
  background-color: rgba(205, 40, 35, 0.15); // error-main to rgba
  &:hover {
    background-color: rgba(205, 40, 35, 0.2);
  }
}

.MuiDataGrid-root .MuiDataGrid-row.escoTableView__row--edited {
  background-color: rgba(247, 206, 38, 0.15); // warning-main to rgba
  &:hover {
    background-color: rgba(247, 206, 38, 0.25);
  }
}

.escoTableView__rowActions {
  display: flex;
  flex: 1;
  justify-content: center;
}

.escoTableView__rowActionsButton {
  margin-right: unset;
}
