@import 'commons/theme/css/colors.scss';

@mixin escoListViewListItem {
  background: $white-main;
  box-shadow: 0 1px 4px #00000040;
  margin-bottom: 12px;
  padding: 0;
}

@mixin escoListViewListItem__gridContainer {
  margin-left: 0;
  padding-bottom: 8px;
  padding-right: 32px;
  padding-top: 8px;
  text-decoration: none;
  width: 100%;
}
