@import 'commons/theme/css/colors.scss';

.joint-link .labels .label {
  cursor: pointer;
}

.joint-link .labels:hover text {
  fill: $primary-main;
}

.joint-link .labels:hover rect {
  fill: white;
  stroke: black;
}

.esmoDiagram__fullCanvas {
  background: $white-main;
  height: 100%;
  width: 100%;
}

.esmoDiagram {
  background: $white-main;
  height: 600px;
  position: relative;
  width: 100%;
}

.esmoDiagram__canvas {
  height: 100%;
  width: 100%;
}

.esmoDiagram__canvas--hidden {
  height: 0 !important;
  visibility: hidden;
}

.esmoDiagram__progress {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
