.escoMap {
  position: relative;

  .ol-control button {
    cursor: pointer;
  }
}

.escoMap__map {
  height: 100%;
  position: relative;
  width: 100%;
}

.escoMap__container {
  display: block;
  position: relative;
}

