$primary-main: #1673c7;
$accent-main: #e05f21;
$white-main: #ffffff;
$canvas-main: #f6f7f7;

$blue-main: #1C7CD1;

$grayBlue-main: #7A8184;

$light-gray-light: #e6eaeb;
$light-gray-main: #dfe4e6;

$medium-gray-lightest: #F2F3F4;
$medium-gray-light: #ECEEEE;
$medium-gray-main: #808b90;

$dark-gray-light: #61676a;
$dark-gray-main: #474d50;

$info-main: #191c1d;
$success-light: #c0d999;
$success-main: #629f00;
$error-light: #de524c;
$error-main: #cd2823;
$warning-main: #f7ce26;
