@import 'commons/theme/css/colors.scss';


body {
  color: $dark-gray-main;
  background-color: $canvas-main !important;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-weight: 600;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 21px;
}

// ! maybe separate theme file for jstree?
// ! need to also change theme folder icon to be in accordance with visual prototypes
.jstree-proton .jstree-clicked {
  background-color: $dark-gray-main !important;
}
.jstree {
  font-size: 14px;
}

.jstree-anchor:focus {
  outline-offset: 2px !important;
  // Setting outline to webkit defaults since couldn't do so with initial or unset,
  // means other browsers will have inconsistent focus color there
  outline: rgb(0, 95, 204) auto 1px !important;
}
