@import 'commons/theme/css/colors.scss';

.esreMergeCard {
  border-radius: 0;
  box-shadow: 0px 1px 3px rgba(#000000, 0.4);
  margin-bottom: 12px;
}

.esreMergeCard:last-child {
  margin-bottom: 20px;
}

.esreMergeCardHeader {
  display: flex;
  align-items: center;
  padding: 6px 24px 6px 24px;
}

.esreMergeCardHeader__heading {
  color: $dark-gray-main;
  font-weight: 600;
}

.esreMergeCardHeader__button {
  box-shadow: none;
  height: 36px;
  margin-left: auto;
}

.esreMergeCard__content {
  color: $dark-gray-main;
  padding: 0 24px 24px 66px;
}
