@import 'commons/theme/css/colors.scss';

.escaCatalogPresenter__backButton {
  color: $accent-main;
  left: -15px;
  padding: 9px;
}

.escaCatalogPresenter__list .listPlaceholder {
  margin-top: 15px;
}
