.escoFeatureInfoPopup {
  max-width: 400px;
  padding: 32px;
  position: relative;

  &::before {
    background-color: white;
    content: '';
    display: block;
    height: 12px;
    position: absolute;
    right: -6px;
    top: calc(50% - 6px);
    transform: rotate(45deg);
    width: 12px;
  }
}

.escoFeatureInfoPopup__content {
  overflow-wrap: anywhere;
  overflow-y: auto;
  padding-right: 12px;
  word-break: break-word;
}

.escoFeatureInfoPopup__closeButton {
  position: absolute;
  right: 2px;
  top: 2px;
}

.escoFeatureInfoPopupList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.escoFeatureInfoPopup__heading {
  margin-bottom: 8px;
}

.escoFeatureInfoPopupListItem {
  margin-bottom: 4px;
}

.escoFeatureInfoPopupListItem__property {
  font-weight: bold;
  margin-right: 4px;
}

.escoFeatureInfoPopupListItem__value {
  overflow-wrap: anywhere;
  word-break: break-word;
}
