@import 'commons/theme/css/colors.scss';

.esreMergeList__emptyListText {
  font-style: italic;
  padding-bottom: 15px;
  padding-top: 13px;
}

.esreMergeList__header {
  margin: 13px 0 15px 0;
}

.esreMergeListItem {
  align-items: center;
  border-bottom: 1px solid $light-gray-main;
  display: flex;
}

.esreMergeListItem__container {
  align-items: center;
  display: flex;
  padding: 12px 0;
}

.esreMergeListItem:last-child {
  border-bottom: 0;
}

.esreMergeListItem__icon {
  color: $success-main;
  margin: 0 6px;
}

.esreMergeListItem__button {
  margin-left: auto;
}
