.escoControlButton {
  background-color: white;
  border-radius: 2px;
  color: #666;
  padding: 6px;

  &.escoControlButton--active,
  &:hover {
    background-color: white;
    outline: 1px solid #666;
  }

  &:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  &:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  &:not(:last-child) {
    margin-right: 1px;
  }
}
