@import 'commons/theme/css/colors.scss';
@import 'commons/components/overview/overviewMixin.scss';

.escoOverviewTileButtonGroup {
  @include escoOverviewGridListContainer;
}

.escoOverview__horizontalButtons {
  @include escoOverview__horizontalButtons;
}

.escoOverview__tile {
  @include escoOverview__gridListTile;
}
