@import 'commons/theme/css/colors.scss';

.escoRDFormsDialogWrapper {
  display: flex;
  flex-direction: column;
}

.escoRDFormsDialogWrapper__sticky {
  background: $canvas-main;
  margin-bottom: 12px;
  margin-top: -24px;
  padding-top: 24px;
  position: sticky;
  top: -24px;
  z-index: 1299;
}
