@import 'commons/theme/css/colors';
@import 'commons/components/overview/overviewMixin.scss';


.esmoFieldOverview__main {
  @include escoOverview__main;
}

.esmoFieldOverview__sidebar {
  padding: 12px;
  width: 224px;
}

.esmoFieldOverview__loading {
  align-items: center;
  display: flex;
  height: 45vh;
  justify-content: center;
  width: 100%;
}

.esmoFieldOverviewSidebarListItem {
  padding-bottom: 6px;
  padding-top: 6px;
}

.esmoFieldOverviewSidebarListItem__button {
  box-shadow: none;
  width: 168px;
}

.esmoFieldOverviewSidebarListItem__divider {
  background-color: $light-gray-main;
  margin: 12px 0;
  width: 100%;
}

.esmoHeaderPresenters {
  margin-bottom: -16px;
}