.escaPreviewVisualization {
  margin-bottom: 16px;
  margin-top: 16px;
}

.escaPreviewVisualizationLink {
  display: flex;
  margin-left: auto;
  width: fit-content;
}

.escaPreviewVisualizationLink__inner {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.escaPreviewVisualizationLink__icon {
  margin-left: 8px;
}

.escaPreviewVisualizationSpinner {
  text-align: center;
  width: 100%;
}

.escaVisualizationPreview__alert {
  margin-bottom: 12px;
}
