.escoMetadataExpandableAreaButton {
  align-self: flex-start;
  margin-bottom: 12px;
  margin-left: -8px;
}

.escoMetadataExpandableArea {
  margin-bottom: 24px;
}

.escoExpandButton__button {
  margin-bottom: 24px;
  margin-left: -8px;
}

.escoExpandButton__collapse {
  background: white;
  margin-bottom: 36px;
  margin-left: -12px;
  padding: 12px;
}
