@import 'commons/theme/css/colors.scss';

.escaDatasetTemplate__filters {
  align-items: center;
  display: flex;
  margin: 16px 0 24px;
}

.escaDatasetTemplate__formControl {
  margin-right: 12px;
  max-width: 210px;
}

.escaDatasetTemplate__catalogFormControl--hidden {
  display: none;
}
