.escoErrorPlaceholder {
  align-items: center;
  bottom: 0;
  color: #363d41;
  display: flex;
  font-size: 21px;
  font-weight: bold;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.escoErrorPlaceholder__content {
  max-width: 500px;
}

.escoErrorPlaceholder__icon {
  font-size: 60px;
}

.escoErrorPlaceholder__text {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}
