@import 'commons/theme/css/colors.scss';

.esreClassReport {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 36px;
}

.esreClassReportHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.esreClassReportHeader__label {
  margin-right: 0.25em;
}

.esreClassReportHeader__buttonContainer {
  align-items: center;
  align-self: flex-start;
  justify-content: flex-end;
}

.esreClassReportHeader__button {
  height: 36px;
}

.esreClassReportHeader__link {
  word-break: break-all;
}

.esreClassReport__table {
  table-layout: fixed;
}

.esreClassReport__TableCell {
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.esreClassReport__TableRow:last-child {
  border-bottom: 2px solid white;
  // Using this selector and 2px to bypass MUI applying border on cells
}

.esreClassReport__ErrorIcon {
  color: $error-light;
}

.esreClassReport__WarningIcon {
  color: $warning-main;
}

.esreClassReport__DeprecatedIcon {
  color: $blue-main;
}

.esreClassReport__ValidIcon {
  color: $success-main;
}

.esreClassReportHeaderSecondary {
  align-items: center;
  display: flex;
}

.esreClassReportHeaderSecondary__indicator {
  display: flex;
  margin-right: 12px;
}

.esreClassReportHeaderSecondary__icon {
  margin-left: 6px;
}

.esreClassReportAlert {
  margin-bottom: 24px;
}
