
@import 'commons/theme/css/colors.scss';
@import 'commons/components/overview/overviewMixin.scss';

.escoEntityOverview__main {
  @include escoOverview__main;
}

.escoEntityOverview__divider {
  @include escoOverview__divider;
}

.escoEntityOverviewSidebarListItem__divider {
  @include escoOverviewSidebarListItem__divider;
}

.escoOverview__icon {
  @include escoOverviewHeader__icon;
}
