@import 'commons/theme/css/colors.scss';

.esreTransformsPresenter__name {
  color: $accent-main;
  font-weight: 600;
}

.esreTransformsPresenter__timelineOppositeContent {
  flex: 0.01;
  padding-left: 0;
}

.esreTransformsPresenter__Table {
  margin-bottom: 24px;
  margin-top: 12px;
}

.esreTransformsPresenter__TableCell--first {
  font-weight: 600;
  width: 100px;
}

.esreTransformsPresenter__header {
  margin-top: 24px;
}
