@import 'commons/theme/css/colors.scss';

.esmoPresenterItem {
  padding-bottom: 16px;
}

.esmoPresenterItem__label {
  color: $dark-gray-main;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.esmoPresenterItem__chip {
  margin-bottom: 4px;
  margin-right: 8px;
}

.esmoPresenterItem__chip:last-child {
  margin-right: 0;
}