@import 'commons/theme/css/colors.scss';

.escoMaintenance {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.escoMaintenance__bar {
  align-items: center;
  background: white;
  display: flex;
  height: 96px;
  width: 100%;
}

.escoMaintenance__logo {
  height: 40px;
  margin-left: 36px;
}

.escoMaintenance__body {
  margin-top: 12vh;
  width: 526px;
}

.escoMaintenance__brand {
  bottom: 28px;
  left: 36px;
  position: absolute;
  width: 70px;
}

.escoMaintenance__image {
  margin-bottom: 66px;
}

.escoMaintenance__header {
  color: $accent-main;
  margin-bottom: 14px;
}

.escoMaintenance__message {
  font-size: 21px;
  margin-bottom: 14px;
}

.escoMaintenance__subtitle {
  font-size: 21px;
}
