@import 'commons/theme/css/colors.scss';

.escoFormGroup {
  border: 1px solid $light-gray-main;
  border-radius: 4px;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 16px 12px 0 24px;
  width: 100%;
}
