@import 'commons/theme/css/colors.scss';

.escaSelectGroup {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

@mixin escaSelectGroup__button {
  background-color: $medium-gray-light;
  border-radius: 0;
  border: 3px solid transparent;
  color: $dark-gray-main;
  flex-basis: 100%;
  height: 56px;
  margin-bottom: 8px;
  margin-right: 8px;
  margin-top: 16px;
  &:hover {
    background-color: $medium-gray-light;
  }
}

.escaSelectGroup__button {
  @include escaSelectGroup__button;
}

.escaSelectGroup__button--selected {
  @include escaSelectGroup__button;
  border: 3px solid $primary-main;
}
