.esmoFieldOptionsDialogHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
}

.esmoFieldOptionsDialogHeader_heading {
  align-items: center;
  display: flex;
}

.esmoFieldOptionsDialogHeader_actions {
  display: flex;
}

.esmoFieldOptionsDialogHeader__subheader {
  margin-bottom: 16px;
}
