.esmoDiagram__TwoCol {
  display: flex;
  height: 100%;
}

.esmoDiagram__Sidebar {
  padding: 12px;
  width: 200px;
}

.esmoDiagram__Main {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 12px;
}

.esmesmoDiagram__fullCanvas {
  flex-grow: 1;
}

.esmoDiagram__EditButtons {
  display: flex;
  flex-direction: column;
}

.esmoDiagram__EditButton {
  margin-bottom: 10px;
}

.esmoDiagram__canvas {
  margin-top: 10px;
}
