@import 'commons/theme/css/colors.scss';

.esreInformation {
  background-color: $canvas-main;
}

.esreInformation__actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}

.esreInformation__Label {
  font-weight: bold;
}

.esreInformation__ListItem {
  display: inherit;
}

.esreInformation__infoBlock {
  margin: 10px;
}
