@import 'commons/theme/css/colors.scss';

.escoErrorDialog__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px 75px !important;
}

.escoErrorDialog__row {
  flex: 1 1 100%;
}

.escoErrorDialog__icon {
  font-size: 36px;
}

.escoErrorDialogAccordion {
  background: $canvas-main;
}

.escoErrorDialogAccordionDetails__label {
  color: $white-main;
  word-break: break-all;
}

.escoErrorDialogAccordionSummary {
  border: 1px solid $dark-gray-main;
  border-radius: 4px;
  height: 24px;
  min-height: 24px;
}

.escoErrorDialogAccordionSummary--expanded {
  min-height: 24px !important;
}

.escoErrorDialogAccordionDetails {
  margin-top: 12px;
  border-radius: 4px;
  padding: 0px;
}

.escoErrorDialogAccordionDetails__paper {
  background: $info-main;
  color: $white-main;
  flex: 1;
  padding: 6px 16px;
}
