@import 'commons/theme/css/colors.scss';
@import 'commons/components/ListView/ListHeader/mixin.scss';
@import 'commons/components/ListView/ListItem/mixin.scss';
@import 'commons/components/ListView/ListItem/ListItemText/mixin.scss';

.escaStatistics__heading {
  margin-bottom: 24px;
}

.escaStatisticsFilterControls {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.escaStatisticsFilterControl__search {
  margin-right: 8px;
  width: 250px;
}

.escaStatisticsFilterControl__moreFilters {
  align-items: center;
  display: flex;
  margin-top: 12px;
}

.escaStatisticsFilterControl__timeRange {
  margin: 0;
  min-width: 180px;
}

.escaStatisticsFilterControl__resourceType {
  padding: 0 12px;
}

.escaStatisticsResourceType__item {
  flex-direction: row;
}

.escaStatistics__loading {
  display: flex;
  height: 300px;
  justify-content: center;
}

.escaStatisticsSearch_root {
  background-color: $medium-gray-light;
  border-radius: 4px;
  color: $dark-gray-main;
  height: 48px;
  padding: 16px 12px 13px;

  input::placeholder {
    opacity: 1;
  }
}

.escaStatisticsSearch_adornment {
  color: $dark-gray-main;
}

.escaStatisticsList {
  margin-top: 60px;
}

.escaStatisticsListItemText {
  align-items: center;
  display: flex;
}

.escaStatisticsListHeader {
  @include escoListViewHeader;

  margin-bottom: 8px;
}

.escaStatisticsListItem {
  @include escoListViewListItem;

  padding: 8px 16px;
}

.escaStatisticsListItem--selected {
  @include escoListViewListItem;

  border: 2px solid $primary-main;
  padding: 8px 16px;
}

.escaStatisticsListItemText__primary {
  @include escoListViewListItemText__primary;
}

.escaStatisticsListHeader__item {
  display: flex;
  font-weight: 600;
}

.escaStatisticsListItem__secondary {
  @include escoListViewListItemText__secondary;

  margin-left: 18px;
}

.escaStatisticsListItem__secondary:only-child {
  margin-left: 0;
}

.escaStatisticsActions {
  display: flex;
  margin-bottom: 36px;
}

.escaStatisticsActions_buttonGroup {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.escaStatisticsActions_buttonGroup > *:not(:last-child) {
  margin-right: 8px;
}

@media print {
  .escaStatisticsActions {
    display: none !important;
  }
}
