@import 'commons/theme/css/colors.scss';

.escoCardSelect__card {
  margin-top: 12px;
  width: 100%;
}

.escoCardSelect__card--selected {
  outline: 2px solid $primary-main;
}

.escoCardSelect__card__infoBlock {
  margin-top: 24px;
}
