@import 'commons/theme/css/colors.scss';

.esmoOverviewHeader {
  margin-bottom: 12px;
}

.esmoOverviewHeader__heading {
  color: $accent-main;
  margin-right: 6px;
}

.esmoOverviewHeader__subHeading {
  margin-right: 6px;
}
