@import 'commons/theme/css/colors.scss';

.esreStatusCard {
  width: 186px;
}
.esreStatusCard__value {
  font-size: 28px;
  font-weight: 800;
}

.esreStatusCard__label {
  font-size: 18px;
}

.esreStatusCard--background-color {
  background-color: $white-main;
  padding: 8px;
  margin-top: 3px;
}

.esreStatusCard__header {
  margin-bottom: 24px;
}

.esreStatusCard__charts {
  height: 100%;
  padding: 24px;
}

.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
