@import 'commons/theme/css/colors.scss';

.esreHarvestReport__BlockTime {
  align-items: center;
  color: $dark-gray-light;
  display: flex;
}

.esreHarvestReport__Time {
  margin: 0 18px;
  width: 230px;
}

.esreHarvestReportCard__Button {
  margin-left: -8px;
  margin-top: -12px;
}

.esreHarvestReportCardBlock {
  padding: 24px 0;
}

.esreHarvestReportCardBlock:first-child {
  padding-top: 10px;
}

.esreHarvestReportCardBlock__Header {
  color: $accent-main;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 12px;
}

.esreHarvestReport__Cards {
  display: flex;
}

.esreHarvestReport__Card {
  width: 25%;
}

.esreHarvestReportCard__Header {
  font-weight: bold;
}

.esreHarvestReportAlert {
  margin-bottom: 16px;
  max-width: 800px;
}
