@import 'commons/theme/css/colors.scss';

.escaSuggestionChecklistDialog__taskHeading {
  align-items: center;
  background-color: $light-gray-main;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 1px 4px #00000040;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
}

.escaSuggestionChecklistDialog__checklistItem {
  align-items: center;
  display: flex;
}

.escaSuggestionChecklistDialog__taskDescription {
  background-color: $white-main;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 4px #00000040;
  padding: 12px 18px;
}

.escaSuggestionChecklistDialog__linearProgress {
  background: $canvas-main;
  margin: 0 -6px;
  padding: 24px 12px;
  position: sticky;
  top: -24px;
  width: 102%;
  z-index: 100;
}

.escaSuggestionChecklistDialog__priorityIcon {
  color: $error-light;
}
