.escoListViewPlaceholder {
  align-items: center;
  color: #363d41;
  display: flex;
  font-size: 21px;
  font-weight: bold;
  height: 100%;
  margin-top: 120px;
  width: 100%;
}

.escoListViewPlaceholder__icon {
  font-size: 60px;
}

.escoListViewPlaceholder__text {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}
