@import 'commons/theme/css/colors.scss';
$object-form-entry-background: #e6d4d4;
$object-form-entry-foreground: #641010;
$profile-form-entry-background: #d4e6d6;
$profile-form-entry-foreground: #10641b;
$class-entry-background: #c9e3f0;
$class-entry-foreground: #154862;
$only-class-background: #e6e6e6;
$only-class-foreground: #444;

text.esmoFormIndicator tspan,
text.esmoClassIndicator tspan,
text.esmoFieldsText tspan {
  cursor: pointer;
}

text.esmoFormIndicator tspan:hover,
text.esmoClassIndicator tspan:hover,
text.esmoFieldsText tspan:hover {
  fill: $primary-main;
}

.esmoFormIndicator {
  display: none;
  fill: $profile-form-entry-foreground;
}

.esmoObjectFormEntry .esmoFormIndicator,
.esmoClassAndObjectFormEntry .esmoFormIndicator {
  display: none;
  fill: $object-form-entry-foreground;
}

.esmoClassIndicator {
  display: none;
  fill: $class-entry-foreground;
}

.esmoClass {
  .esmoClassIndicator {
    display: inline;
    fill: $only-class-foreground;
  }

  .esmoLabelShape {
    fill: $only-class-background;
  }

  .esmoLabelText {
    cursor: default;
    fill: $only-class-foreground;
  }

  text.esmoClassIndicator tspan:hover {
    cursor: default;
    fill: $only-class-foreground;
  }
}

.esmoClassEntry {
  .esmoClassIndicator {
    display: inline;
  }

  .esmoLabelShape {
    fill: $class-entry-background;
  }

  .esmoLabelText {
    fill: $class-entry-foreground;
  }
}

.esmoProfileFormEntry {
  .esmoFormIndicator {
    display: inline;
  }

  .esmoLabelShape {
    fill: $profile-form-entry-background;
  }

  .esmoLabelText {
    fill: $profile-form-entry-foreground;
  }
}

.esmoClassAndProfileFormEntry {
  .esmoFormIndicator {
    display: inline;
  }

  .esmoClassIndicator {
    display: inline;
  }

  .esmoLabelShape {
    fill: $profile-form-entry-background;
  }

  .esmoLabelText {
    fill: $profile-form-entry-foreground;
  }
}

.esmoObjectFormEntry {
  .esmoFormIndicator {
    display: inline;
  }

  .esmoLabelShape {
    fill: $object-form-entry-background;
  }

  .esmoLabelText {
    fill: $object-form-entry-foreground;
  }
}

.esmoClassAndObjectFormEntry {
  .esmoFormIndicator {
    display: inline;
  }

  .esmoClassIndicator {
    display: inline;
  }

  .esmoLabelShape {
    fill: $object-form-entry-background;
  }

  .esmoLabelText {
    fill: $object-form-entry-foreground;
  }
}

.esmoClassEntry,
.esmoObjectFormEntry,
.esmoClassAndObjectFormEntry,
.esmoFormEntry,
.esmoClassAndFormEntry {
  .esmoLabelGroup {
    cursor: pointer;
  }

  .esmoLabelGroup:hover {
    fill: $primary-main;
  }
}
