@import 'commons/theme/css/colors.scss';

.escoOverviewSidebarToggle__switchLabel {
  align-items: center;
  display: flex;
  padding-left: 11px;
}

.escoOverviewSidebarToggle__icon--dense {
  min-width: 40px;
}

.escaOverviewSidebarToggle__primaryLabel {
  font-weight: 600;
}

.escoOverviewSidebarToggle__labelSecondary {
  font-size: 16px;
  line-height: 1.5;
}

.escoOverviewSidebarToggle__labelSecondary--inactive {
  color: $error-main;
}

.escoOverviewSidebarToggle__secondaryAction {
  right: 16px;
}
