.escoSingleColumnLayout__container {
  display: flex;
  justify-content: space-around;
}

.escoSingleColumnLayout__content {
  flex-basis: 70%;
  max-width: 1280px; // ! something more meaningful?
  padding: 36px;
}
