@import 'commons/theme/css/colors.scss';

.escoFieldsLabel {
  display: flex;
  margin-bottom: 5px;
}

.escoFieldsLabel__label {
  font-weight: bold;
}

.escoFieldsLabel_marker {
  font-weight: bold;
  margin-left: 4px;
}
