@import 'commons/components/ListView/ListHeader/mixin.scss';
@import 'commons/components/ListView/ListItem/mixin.scss';

.escoEntrySelectListHeader {
  @include escoListViewHeader;

  margin-bottom: 8px;
}

.escoEntrySelectListHeader__item {
  @include escoListViewHeaderItem__primary;
}

.escoEntrySelectListItem {
  @include escoListViewListItem;

  padding: 8px 16px;
}

.escoEntrySelectListItem__treePath {
  display: inline-block;
  font-size: 12px;
  max-width: 58ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.escoEntrySelectListItem__treePathNode {
  vertical-align: middle;
  white-space: nowrap;
}

.escoEntrySelectListItem__treePathIcon {
  font-size: 18px;
  margin: 0 4px;
  vertical-align: middle;
}
